/* ARTBOARD */
.Artboard {
  border-radius: 15px;
  position: absolute;
  margin-top: var(--base);
  top: 53%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 20rem;
  height: 25rem;
  background: rgba(253, 255, 142, 0.1);
  z-index: 1;
}

/* Apply these styles to each board */
.birdie-part {
  position: absolute;
  margin-top: var(--base);
  top: 5.7%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 20rem;
  height: 25rem;
  background: transparent;
  display: contents;
  z-index: 3;
}

.birdie-part-ft{
  position: absolute;
  margin-top: var(--base);
  top: 7.7%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 20rem;
  height: 25rem;
  background: transparent;
  display: contents;
  z-index: 2;
}




/* AVATAR ELEMENTS BUTTONS */
.content {
  /* border-radius: 10px; */
  position: relative;
  margin-top: 29rem;
  width: 100%;
  /* border: 1px solid var(--accent-2); */
  /* overflow-x: auto; */
  z-index: 3;
}

.content > .tab {
  /* border-radius: 10px; */
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction:row;
  justify-content:left;
  align-items: left;
  display: none;
  height: fit-content;
  width: 100%;
  gap: 5px;
  /* background: transparent; */
}

.content .active-tab {
  display: flex;
}

.content button:hover {
  /* border-radius: 10px; */
  transform: scale(1.1);
  /* background-color: var(--accent-transperent); */
  transition: all 0.1s ease;
}
.content button:active {
  /* border-radius: 10px; */
  transform: scale(1.1);
  /* background-color: var(--accent-transperent); */
  /* background: radial-gradient(circle at center, var(--accent-2), transparent); */
  transition: all 0.1s ease;
  /* border-radius: 10px; */
}

@media (min-width: 450px) {
  .content .active-tab {
    display: flex;
    margin-top: 4rem;
    flex-wrap: nowrap;
    justify-content: center;
}
}

@media (min-width: 1024px){

  .Artboard{
    position: absolute;
    margin-top: var(--base);
    top: 65%;
    left: 74%;
    transform: translate(-50%, -70%);
    width: 29.7em;
    height: 35.775rem;
    background: rgba(253, 255, 142, 0.1);
    z-index: 1;
}

  .birdie-part {
  position: absolute;
  margin-top: var(--base);
  top: 5.7%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 29.7em;
  height: 35.775rem;
  background: transparent;
  display: contents;
  z-index: 3;
}

  .birdie-part-ft{
  position: absolute;
  margin-top: var(--base);
  top: 7.7%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 29.7em;
  height: 35.775rem;
  background: transparent;
  display: contents;
  z-index: 2;
  }


  .content .active-tab{
    width: 40%;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    margin-top: -13rem;
    height: 15rem;
    row-gap: 0rem;
    /* flex-wrap: wrap;
    flex-direction: column; */
    padding-left: 9.2rem;
    align-items: end;
    justify-content: center;
    justify-items: start;
}

  .content > .active-tab img{
    width: 6rem;
  }

  .content button:hover {
  border-radius: 10px;
  transform: scale(1.3);
  background-color: var(--accent-transperent);
  transition: all 0.1s ease;
}


.bottom-nav {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    background: var(--accent-transperent);
    position: fixed;
    margin-left: 10%;
    top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 35%;
    /* z-index: 4; */
    flex-wrap: nowrap;
    flex-direction: row;
}

.bottom-nav img {
  width: 5rem;
  height: 5rem;
}
  }



/* .buttons-wrapper {
  width: 100%;
  overflow-x: scroll;
} */

.buttons {
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 0;
}

.feather-btn, 
.base-btn,
.face-btn,
.hands-btn,
.legs-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  /* margin-right: 10px; */
  padding: 0;
    
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-evenly;
}

/* element.style {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
} */
