/* ARTBOARD */
.Artboard {
  position: absolute;
  margin-top: var(--base);
  top: 53%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 20rem;
  height: 25rem;
  background: rgba(253, 255, 142, 0.1);
  z-index: 1;
}

/* Apply these styles to each board */
.birdie-part {
  position: absolute;
  margin-top: var(--base);
  top: 5.7%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 20rem;
  height: 25rem;
  background: transparent;
  display: contents;
  z-index: 3;
}

.birdie-part-ft{
  position: absolute;
  margin-top: var(--base);
  top: 7.7%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 20rem;
  height: 25rem;
  background: transparent;
  display: contents;
  z-index: 2;
}




/* AVATAR ELEMENTS BUTTONS */
.content {
  position: relative;
  margin-top: 29rem;
  width: 100%;
  /* border: 1px solid var(--accent-2); */
  /* overflow-x: auto; */
  z-index: 3;
}

.content > .tab {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction:row;
  justify-content:left;
  align-items: left;
  display: none;
  height: fit-content;
  width: 100%;
  /* background: transparent; */
}


/* .content::-webkit-scrollbar{
    width: 0;

} */



.content .active-tab {
  display: flex;
}

@media (min-width: 450px) {
  .content .active-tab {
    display: flex;
    margin-top: 4rem;
    flex-wrap: nowrap;
    justify-content: center;
}
}

/* .buttons-wrapper {
  width: 100%;
  overflow-x: scroll;
} */

.buttons {
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 0;
}

.feather-btn, 
.base-btn,
.face-btn,
.hands-btn,
.legs-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  /* margin-right: 10px; */
  padding: 0;
    
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-evenly;
}

/* element.style {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
} */
