/* AVATAR ELEMENTS BUTTONS */
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 10rem; */
  border: 1px solid var(--accent-2);
  overflow-x: auto;
}

.content::-webkit-scrollbar{
    width: 0;

}

.content .buttons {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background: transparent;
    border: 1px solid var(--accent-2);
    margin-right: 2px;
}

.buttons-wrapper {
  width: 100%;
  overflow-x: scroll;
}

/* .buttons {
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 0;
} */

.feather-btn, .base-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 0;
}

.feather-btn img {
  width: 5rem;
  height: 5rem;
}
