* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.landing-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.start-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #27ae60;
}

.info-page {
    display: none;
}

.info-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.craft-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.craft-button:hover {
    background-color: #27ae60;
}

