/* LANDING PAGE */




.info-texts {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: var(--base);
    margin: 10%;
    padding-top: var(--info-text-top-padding);
    justify-content: left;
    align-items: center;
    color: var(--accent-type);
}


.intro-buttons{
    background-color: transparent;
    color: var(--accent-2);
    box-sizing: border-box;
    border: 1px solid var(--accent-2);
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.intro-buttons:hover {
    background-color: var(--accent-2);
    color: var(--accent-hover);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #3c64b1;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #21468b;
}
